<h1  >About</h1>
<p>
	This is the blogger application.Basically using this web application, you can sign up, create your own articles and publish them.This application is under continuous maintainance.
</p>
<p>
	All the rights are reserved by the developer. <br/>&copy Rabin Poudyal
</p>
